<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AR Viewer</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" crossorigin="anonymous">


    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://cdn.jsdelivr.net/gh/aframevr/aframe@5b8183c/dist/aframe-master.min.js"></script>

   	<style>
		iframe {
			display: block;
		}
   	</style>
  </head>
  <body>


	<nav class="navbar navbar-fixed-top navbar-default">
		<div class="container">
			<a class="navbar-brand" href="/"><h1>A r-Zip</h1></a>
		</div>
	</nav>

	<div class="container">
		

<form action="/form" method="post">
	
		<div class="ar-containter">
	<div class="form-group row">
		<div class="col-12 ">
			<input id="image-file" type="file" name="imageFile" accept="image/*"">
		<label id="image-frame" for="image-file">
		<div id="text-background">사진을 선택하시오</div>
		<img id="image-preview" height="200" width="200" /></label>
		</div>
	</div>

		</div>

		<div class="form-group row container">
			
			<div class="col-7 col-form-label">
			    <label for="desc"><h2>설명</h2></label>
			    <textarea class="form-control" id="desc" name="desc" rows="4" value=""></textarea>
			    <br>
			    <label for="location"><h2>위치</h2></label>
			    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12646.406464777514!2d127.01985443670362!3d37.58799768019823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357cbca4b48f396d%3A0xdd97ca0f44054515!2sAnamdong+5(o)-ga%2C+Seongbuk-gu%2C+Seoul!5e0!3m2!1sen!2skr!4v1501971532585" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen name="location"></iframe>
			</div>

		  <div class="col-5 col-form-label">
			  <div class="form-group">
			  <label for="desc"><h5>가격</h5></label>
  			    <textarea class="form-control" id="price" name="price" rows="1" placeholder=""></textarea>
			  </div>
			  <div class="form-group">
			  <label for="desc"><h5>넓이</h5></label>
			    <input class="form-control" id="area" value="">
			  </div>
			  <div class="form-group">
			  <label for="desc"><h5>추가 정보</h5></label>
			    <input class="form-control" id="extra" value="">
			  </div>
			  <div class="form-group">
			  <label for="desc"><h5>연락처</h5></label>
			    <textarea class="form-control" id="phone" name="phone" rows="3" placeholder=""></textarea>
			  </div>
		  </div>

		</div>
<button class="btn btn-success" id="submitNewButton" type="submit" value="">방 등록하기</button>

</form>
	</div>


  </body>

<script type="text/javascript" src="/scripts/load-image.all.min.js"></script>

<script>
	function previewImg() {
	var textElement = document.getElementById('text-background');
	var imageFrameElement = document.getElementById('image-frame');
	var imagePreview = document.getElementById('image-preview');
	var imageFile    = document.getElementById('image-file').files[0];
	var reader = new FileReader();

	textElement.style.display = "none"
	imageFrameElement.style.borderStyle = "solid"

	reader.addEventListener("load", function () {
		imagePreview.src = reader.result;
	}, false);

	if (imageFile) {

		loadImage(imageFile, function (img) {
			reader.readAsDataURL(img)
		}, {maxWidth: 1200, maxHeight: 1200, orientation: true})

	}
}
</script>

<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" crossorigin="anonymous"></script>



</html>