<!DOCTYPE html>
<html lang="en">
<head>
	<title>A r-Zip</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" crossorigin="anonymous">

	<link rel="stylesheet" href="/styles/nouislider.min.css">
	<link rel="stylesheet" href="/styles/style.css">

</head>

<body>
	<nav class="navbar navbar-fixed-top navbar-default">
		<div class="container">
			<a class="navbar-brand" href="/"><h1>A r-Zip</h1></a>
		</div>
	</nav>

	<div class="container">

		<div class="col-md-12 text-center"> 
			<button class="btn btn-success" id="submitNewButton" type="submitNew" onclick="submitNew()">방 등록하기</button>
		</div>

		<form id="filter-search">
			
		    <div class="form-group row">
		      <label for="region" class="col-3 col-form-label">지역</label>
		      <div class="col-9">
		          <select class="custom-select" id="metro-line" name="line">
				    <option selected>몇 호선</option>
				    <option value="1">1호선</option>
				    <option value="2">2호선</option>
				    <option value="3">3호선</option>
				    <option value="4">4호선</option>
				    <option value="5">5호선</option>
				    <option value="6">6호선</option>
				    <option value="7">7호선</option>
				  </select>
		          <select class="custom-select" id="metro-station" name="station">
				    <option selected>무슨 역?</option>
				    <option value="1">안암역</option>
				    <option value="2">고대역</option>
				    <option value="3">보문역</option>
				    <option value="4">신당역</option>
				    <option value="5">약수역</option>
				    <option value="6">응암역</option>
				  </select>
		      </div>
		    </div>

		    <div class="form-group row">
				<label for="region" class="col-3 col-form-label">가격</label>
				<div class="col-9">
						<div class="list-group segmented-control">
			                <a href="#" class="list-group-item active">전세<input type="radio" checked name="payment" value="1"/>
			                </a>
			                <a href="#" class="list-group-item">월세<input type="radio" name="payment" value="2"/>
			                </a>
		                </div>
						<br>
						<br>
						<br>
						
						 <div id="sliderPrice" class="slider"></div>


						
		    	</div>
	    	</div>
						<br>
						<br>
		    <div class="form-group row">
				<label for="region" class="col-3 col-form-label">면적</label>
				<div class="col-9 slider-wrapper">
					<div id="sliderArea" class="slider"></div>
		    	</div>
	    	</div>
			<div class="col-md-12 text-center"> 
				<button class="btn btn-success" id="submitButton" type="submit">방 검색하기</button>
			</div>
		</form>

	</div>

	<div id="list-container" class="container"></div>

</body>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<script type="text/javascript" src="/scripts/nouislider.min.js"></script>
<script type="text/javascript" src="/scripts/script.js"></script>

<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" crossorigin="anonymous"></script>

</html>