<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A r-Zip</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/nouislider.min.css">
    <link rel="stylesheet" href="/styles/style.css">

    <script src="https://rawgit.com/aframevr/aframe/5b8183c/dist/aframe-master.min.js"></script>

  </head>
  <body>

    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <a class="navbar-brand" href="/">A r-Zip</a>
      </div>
    </nav>


<iframe width="150px" height="150px" allowfullscreen="yes" scrolling="no" allowvr="yes" src="../arview/pano1"></iframe>

<iframe width="150px" height="150px" allowfullscreen="yes" scrolling="no" allowvr="yes" src="../arview/pano1"></iframe>

<iframe width="150px" height="150px" allowfullscreen="yes" scrolling="no" allowvr="yes" src="../arview/pano1"></iframe>

<iframe width="150px" height="150px" allowfullscreen="yes" scrolling="no" allowvr="yes" src="../arview/pano1"></iframe>

  </body>

</html>